name: Call Supabase Edge Function Every 30 Min

on:
  schedule:
    - cron: '30 23,11 * * 1-5'  # At 5AM and 5PM IST (23:30 and 11:30 UTC) every weekday
  workflow_dispatch:        # allows manual triggering

jobs:
  call-supabase-edge:
    runs-on: ubuntu-latest
    steps:
      - name: Call Edge Function
        run: |
          curl -L -X POST 'https://mdnumdvxkohtsvlffbob.supabase.co/functions/v1/prefetch-stock-prices' -H "Authorization: Bearer ${{ secrets.SUPABASE_SERVICE_ROLE_KEY }}" -H 'Content-Type: application/json' --data '{"name":"Functions"}'
